<script src="{{ 'x-swiper.js' | asset_url }}" type="module"></script>
{{ 'x-swiper.css' | asset_url | stylesheet_tag }}

<div>
  Slider
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
      "label": "Enable"
    }
  ],
  "presets": [{
    "name": "Product Slider"
  }]
}
{% endschema %}
