.swiper {
  width: 100%;
  height: 450px;
}

$pre: "x-product-card";

.#{$pre}{
  &__card{
    height: 450px;

    &:-webkit-any-link {
      text-decoration:none
    };
  }

  &__product{
    background: var(--color-card);


    border-radius: 24px;
  }

  &__image-wrapper{
    width: 100%;
    height: 260px;
    padding: 8px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;

    }
  }

  &__content-wrapper{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    height: 42px;
  }

  &__price-wrapper{
    display: flex;
    gap: 12px;
  }

  &__price{
    font-size: 14px;
    font-weight: 600;
    background: var(--color-price);
    color: var(--color-white);
    padding: 4px 8px;
    border-radius: 12px;

    &--compare{
      text-decoration: line-through;
      background: none;
      color: var(--color-netural-700);
    }

    &--sale{
      background: var(--color-price-sale);
    }
  }
}

